html,
body {
  scrollbar-color: var(--grey-medium) var(--black-strong);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--black-strong);
}
::-webkit-scrollbar-thumb {
  background: var(--grey-medium);
  border-radius: 10px;
  transition: background 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-light);
}
